.container {
  flex: 1;
  background-color: #faf4ef;
}

.loadingContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcomeContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.spinnerTextStyle {
  color: #fff;
}

.peopleContainer {
  flex: 1;
}

.peopleContentContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}
