.container {
  flex: 1;
  background-color: '#fff';
}

.developmentModeText {
  margin-bottom: 20px;
  color: 'rgba(0,0,0,0.4)';
  font-size: 14px;
  line-height: 19px;
  text-align: 'center';
}

.contentContainer {
  padding-top: 30;
}

.helpLinkText {
  font-size: 14px;
  color: '#2e78b7';
}
